.login {
  /* top | right | bottom | left */
  margin: 2em 1em 1em 1em;
}

.message {
  color: red;
}

.btn {
  /* top | right | bottom | left */
  margin: 1em 1em 1em 0em;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
