<div class="editor">
  <!--

  see https://angular.io/guide/forms
  -->
  <form>
    <div class="form-group">
      <label>Message</label>
      <input type="text" maxlength="1024"
             name="Message"
             [(ngModel)]="newMessage.message"
             class="form-control" id="message"
             placeholder="new message"
             required
             (focus)="clearErrorMessage()"
             (keydown)="clearErrorMessage()"
      >
    </div>
    <button type="submit" class="btn btn-default" (click)="onSubmit()">Create Message</button>
    <button (click)="goBack()" class="btn btn-primary">go back</button>
  </form>
  <div class="message">
    {{errorMessage}}
  </div>
</div>
