<div class="editor">
  <!--

  see https://angular.io/guide/forms
  -->
  <form #messageEditor="ngForm">
    <div class="form-group">
      <label for="message01">Message</label>
      <input type="text" maxlength="1024"
             class="form-control" id="message01"
             required
             [(ngModel)]="newMessage.message"
             name="message01"
             #message01="ngModel"
             placeholder="new message"
             (focus)="clearErrorMessage()"
             (keydown)="clearErrorMessage()"
      >
    </div>
    <button type="submit" class="btn btn-default" (click)="onSubmit()">Create Message</button>
    <button (click)="goBack()" class="btn btn-primary">go back</button>
  </form>
  <div *ngIf="(errorMessage != null) && (errorMessage.length > 0)"  class="message">
    {{errorMessage}}
  </div>
  <div *ngIf="(errorMessage == null) || (errorMessage.length == 0)" [hidden]="message01.valid || message01.pristine"
       class="alert alert-danger">
    Message is required
  </div>
</div>
