ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: #212529;
}

a:hover {
  text-decoration: none;
}

li {
  padding: 0;
}

li a {
  display: block;
}

.remove-message {
  position: relative;
  float: right;
  top: -23px;

  /* top | right | bottom | left */
  margin: 0px 0px 0px 0px;
}

.mouseshape {
  cursor: default;
}
