<div class="editor">
  <!--

  see https://angular.io/guide/forms
  -->
  <form>
    <div class="form-group">
      <label>Channel name</label>
      <input type="text" maxlength="24"
             name="Channel name"
             [(ngModel)]="newChannel.name"
             class="form-control" id="name"
             placeholder="new channel name"
             required
             (focus)="clearErrorMessage()"
             (keydown)="clearErrorMessage()"
             >
    </div>
    <button type="submit" class="btn btn-default" (click)="onSubmit()">Create Channel</button>
    <button (click)="goBack()" class="btn btn-primary">go back</button>
  </form>
  <div class="message">
    {{errorMessage}}
  </div>
</div>
